{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=ERP;Username=postgres;Password=postgres"
  },
  "Database": {
    "AutoMigrateOnStartup": true,
    "AutoMigrateOnBuild": true
  },
  "AllowedHosts": "*"
}
